@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
    
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      /* display: none; hide the element after fading out */
    }
  }
  
  .hide-after-three-seconds {
    animation: fadeOut 3s ease-out forwards;
  }